.about {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;
}

.about-item h1 {
    text-align: right;
    margin: 0;
    font-weight: normal;
}

.description {
    text-align: left;
    gap: 20px;

    p {
        line-height: 1.25;
    }
}

.description a {
    /* text-decoration: none; */
    top: 20px;
    color: grey;

}

@media (max-width: 768px) {
    .about {
            width: 90%;
            gap: 50px;
        }

    .about-item {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .about-item h1 {
        text-align: left;
    }

    .description {
        text-align: left;
    }
}