html {
    scroll-behavior: smooth;
}

article {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.article-header {
    margin-bottom: 60px;

    h1 {
        font-size: 50px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    time {
        font-size: 14px;
    }
}


.TOC {
    margin-bottom: 80px;

    h2 {
        font-weight: normal;
        margin-bottom: 20px;
    }

    ol {
        display: block;
        margin: 0;
        padding-left: 25px;
    }

    li {
        display: list-item;
        margin-bottom: 10px;
    }

    a {
        color: #000;
        text-decoration: none;
    }

    a:hover {
        /* text-decoration: underline; */
        color: darkgray;
    }

    a.anchor

}



article section {
    margin-bottom: 80px;

    h2 {
        font-weight: normal;
        margin-bottom: 20px;
    }

    p {
        line-height: 1.6;
        letter-spacing: 0.02em;
    }

}

