.journal {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;

    h1 {
        font-weight: normal;
        margin-bottom: 10px;
    }
}

.journal-element {
    margin-top: 60px;

    li {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        border-top: 1px solid #000;
    }

    li:last-child {
        border-bottom: 1px solid #000;
    }

    a {
        color: #000;
        text-decoration: none;
    }

    a:hover {
        /* text-decoration: underline; */
        color: darkgray;
        
}
}

.date {
    margin-left: auto;
}