* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif, condensed;
}

html, body {
    scrollbar-width: none;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
}

.loader {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    z-index: 9999;
    animation: loaderFadeBackground 4.0s ease forwards;
    
}

.loader p {
    animation: loaderFadeText 3.0s ease forwards;
    font-size: 30px;
    letter-spacing: 0.05em;
}

@keyframes loaderFadeBackground {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes loaderFadeText {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    color: #000;
}

.index-header a {
    color: #000;
    letter-spacing: 0.05em;
}

.logo {
    text-decoration: none;
}

nav {
    display: flex;
    gap: 32px;
}

.index-header nav a {
    text-decoration: none;
    display: inline-block;
}

.index-header nav a::after {
    content: "";
    color: #000;
    transition: width 0.3s ease;
    display: block;
    width: 0;
    border-bottom: 1px solid black;
}

.index-header nav a:hover::after{
    width: 100%;
}

footer {
    padding: 40px;
    margin-top: 40px;
}
.photo-gallery {
    columns: 3;
    column-gap: 20px;
    padding: 40px;
}

.photo-gallery a img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    break-inside: avoid;
}
@media (max-width: 768px) {
    .index-header {
        padding: 20px;
    }

    nav {
        gap: 20px;
    }

    .loader p {
        font-size: 15px;
        padding: 50px;
    }

    .photo-gallery a img {
        width: 100%;
        /* aspect-ratio: 1 / 1; */
        object-fit: cover;
        display: block;
    }
    .photo-gallery {
        columns: 1;
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 20px;
    }

    footer {
        padding: 20px;
        margin-top: 20px;
    }
}